$primaryColor: #D35400;
$secondaryColor: #E67E22;
$supportColor: #4B4B4B;
$textColor: #F5F5F5;
$alternativeColor: #D0D0D0;
$bgColor: #000000;

$logoFont: "Poppins", sans-serif;
$textFont: "Archivo Black", sans-serif;